body{
    display: flex;
    align-items: center;
    justify-content: center;

}

p{
    font-family: cursive;
}

h1{
    font-family: cursive;
    font-size: 50pt;
}

.login-wrapper{
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center;
}