body{
    display: flex;
    align-items: center;
    justify-content: center;

}

p{
    font-family: cursive;
}

h1, h2{
    font-family: cursive;
    font-size: 50pt;
}

.login-wrapper{
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center;
}

.input-field{
    background-color: white;
    color:black;
    font-family: fantasy;
}

.my-button{
    background-color: rgb(197, 141, 141);
    font-family: cursive;
}