body{
    display: flex;
    align-items: center;
    justify-content: center;

}

p{
    font-family: 'Comic Sans MS', cursive;
}

h1, h2{
    font-family: 'Bradley Hand', cursive;
    font-size: 75pt;
}

.login-wrapper{
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center;
}

.input-field{
    background-color: white;
    color:black;
    font-family: 'Comic Sans MS', fantasy;
    padding: 8px; /* Gives some space inside the input */
    border: 5px solid #2c416f; /* Defines the border style and color */
    border-radius: 15px; /* Rounds the corners */
    width: 100%; /* Makes the input fill its container */
    box-sizing: border-box;
}

.my-button{
    background-color: #2c416f;
    font-family: 'Comic Sans MS', cursive;
}