/* Heart.css */
.heart {
  position: fixed;
  bottom: -50px;
  width: 20px;
  height: 20px;
  aspect-ratio: 1 / 1;
  background-color: rgb(166, 180, 211);
  clip-path: polygon(
    50% 0%,
    61% 7%,
    68% 15%,
    70% 23%,
    65% 35%,
    50% 50%,
    35% 35%,
    30% 23%,
    32% 15%,
    39% 7%
  );
  animation-name: floatUp;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes floatUp {
  0% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateY(-100vh) scale(1.2);
    opacity: 0;
  }
}