.text-stuff{
    color:rgb(255, 255, 255);
    font-family: 'Comic Sans MS', cursive;
}

.input-field{
    background-color: white;
    color:black;
    font-family: fantasy;
}

.my-button{
    background-color: #2c416f;
    font-family: 'Comic Sans MS', cursive;
}